{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 130,
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.yaml", "**/*.json", "**/*.md"],
            "options": { "tabWidth": 2 }
        }
    ]
}
